#nonuserhome-photo-container-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 924px;

}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s linear;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s linear;
}

#nonuserhome-photo {
    height: 500px;
}

#demo-btn {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 3px;
    color: #000;
    background: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    padding: 12px 20px;
    text-align: center;
    transition-duration: .15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);

}

#demo-btn:hover {
    color: rgba(0, 0, 0, .5);
    transition: color .15s ease-in-out
}

#heading {
    color: white;
    font-size: 56px;
    margin-bottom: 0px;
}

#heading-2 {
    color: white;
    font-size: 26px;
    margin-bottom: 50px;
}

/* #bg-img {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
} */

/* #nonuserhome-photo-container {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
} */