/* TODO Add site wide styles */

body {
    /* background-color: rgba(243, 245, 246, 255); */
    background-color: white;
    box-sizing: border-box;
    font-family: Proxima Nova, helvetica neue, helvetica, arial, sans-serif
}